.activity
{
	.activity_meta
	{
		margin-bottom: 1em;
		padding: 0.25em;

		li
		{
			padding-bottom: 0;
		}

		.meta_key
		{
			font-weight: bold;
			text-align: center;
		}

		.meta_value
		{
			text-align: center;
		}
	}

	.navigation.next
	{
		text-align: right;
	}

	.scores
	{
		.divider,
		.equals,
		.plus
		{
			@extend .text-muted;
			padding-left: 0.1em;
			padding-right: 0.1em;
		}
	}
}
