.comments
{
	.ago
	{
		text-align: right;
		color: lighten( $body-color, 25% );
	}

	.author
	{
		font-weight: bold;
	}

	&.comment
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}
	&.comment:nth-of-type(odd)
	{
		background-color: $table-accent-bg;
	}

	&.thread_summary:nth-of-type(odd)
	{
	}
	&.thread_summary
	{
		margin-bottom: 1em;

		&.new
		{
			background-color: orange;
		}

		.replies
		{
			font-style: italic;
			margin-bottom: 0.5em;
			margin-top: 0.5em;
			text-align: center;
		}

		.text a
		{
			font-style: italic;
			text-decoration: none;
		}
	}

}
