/**
	Default settings for all input rows.
**/
form
{
	.description_container
	{
		@include make-col( 12 );
		font-size: 80%;
		font-style: italic;

		.form-text
		{
			margin-top: 0;
		}
	}

	@include media-breakpoint-up(md)
	{
		.description_container
		{
			@include make-col-offset( 4 );
		}
	}

	.form_item
	{
		@include make-row();
		margin-bottom: $spacer;

		/** Otherwise we get a -15 on the margins due to make-row. **/
		margin-left: auto;
		margin-right: auto;

		.label_container
		{
			@include make-col( 12 );
		}

		.input_container
		{
			@include make-col( 12 );
		}
	}

	@include media-breakpoint-up(md)
	{
		.form_item
		{
			.label_container
			{
				@include make-col( 4 );
				text-align: right;

				label
				{
					height: $input-height;
					line-height: $input-line-height;
					margin-bottom: 0;
					padding: $input-padding-y $input-padding-x;
				}
			}

			.input_container
			{
				@include make-col( 8 );
			}
		}
	}

	/**
		Specialized sizes for various inputs.
	**/

	.form_item_checkbox
	{
		@include make-row();

		/** Otherwise we get a -15 on the margins due to make-row. **/
		margin-left: auto;
		margin-right: auto;

		.label_container
		{
			@include make-col( 10 );

			text-align: inherit;
		}

		.input_container
		{
			@include make-col( 2 );

			input
			{
				height: auto;	/** Otherwise it becomes massive. **/
				width: auto;
			}
		}

		@include media-breakpoint-up(md)
		{
			.input_container
			{
				@include make-col( 8 );
				order: -1;

				input
				{
					background-color: orange;
					height: auto;	/** Otherwise it becomes massive. **/
					width: auto;
				}
			}

			.label_container
			{
				@include make-col( 4 );
				order: -2;
				text-align: right;
			}
		}
	}

	.form_item_color
	{
		@include make-row();
		margin-bottom: $spacer;

		/** Otherwise we get a -15 on the margins due to make-row. **/
		margin-left: auto;
		margin-right: auto;

		.label_container
		{
			@include make-col( 10 );
		}

		.input_container
		{
			@include make-col( 2 );
		}

		@include media-breakpoint-up(md)
		{
			.label_container
			{
				@include make-col( 4 );
				text-align: right;

				label
				{
					height: $input-height;
					line-height: $input-line-height;
					margin-bottom: 0;
					padding: $input-padding-y $input-padding-x;
				}
			}

			.input_container
			{
				@include make-col( 1 );
			}
		}
	}

	.form_item_file .input_container
	{
		text-align: center;
	}

	.form_item_submit
	{
		.label_container
		{
			display: none;
		}

		.input_container
		{
			@include make-col( 12 );
			text-align: center;
		}
	}

	.input_container textarea
	{
		margin-bottom: 0;
	}
}
