#guns_edit
{
	img.gun
	{
		border-style: solid;
		border-width: thin;
		border-color: $secondary;
	}
}

#guns_index,
#guns_archived_index
{
	td.image
	{

		img
		{
			border-style: solid;
			border-width: thin;
			border-color: $secondary;
			max-width: 100%;
		}
	}
}

.image.gun_inset
{
	position: absolute;
	width: 25%;
	bottom: 0;
	right: 0;
}