header
{
	word-break: break-word;

	h1
	{
		a
		{
			color: --theme_color_primary;
		}
	}
	nav
	{
		font-size: 150%;
	}

}

body#user_dashboard
{
	nav
	{
		font-size: 200%;
	}
}

body#user_login
{
	header
	{
		display: none;
	}

	.logo
	{
		width: 100%;
		max-width: 40em;
	}
}

.image
{
	margin-bottom: 1em;
	text-align: center;

	&.full
	{
	}

	&.thumbnail
	{
		max-width: 300px;
	}

	img
	{
		border-width: thin;
		border-style: solid;
		border-color: $secondary;
	}

	&.preview
	{
		max-width: 100%;
	}
}

td.date .diff
{
	font-style: italic;
}

.logo
{
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 15em;
	height: auto;

	img
	{
		width: 100%;
	}
}


.query_log
{
	word-break: break-all;
}
