:root
{
	--bs-body-bg : var( --theme_color_background );
	--bs-body-color : var( --theme_color_text );
	--bs-link-color : var( --theme_color_primary );
	--bs-link-hover-color : var( --theme_color_primary );
	--bs-primary : var( --theme_color_primary );

}

.btn-primary
{
	/** Buttons! **/
	--bs-btn-active-bg : var( --theme_color_primary );
	--bs-btn-active-border-color : var( --theme_color_primary );
	--bs-btn-bg : var( --theme_color_primary );
	--bs-btn-border-color : var( --theme_color_primary );
	--bs-btn-disabled-bg : var( --theme_color_primary );
	--bs-btn-disabled-border-color : var( --theme_color_primary );
	--bs-btn-hover-bg : var( --theme_color_primary );
	--bs-btn-hover-border-color : var( --theme_color_primary );
}
