#moderation_index
{
	td.choice
	{
		cursor: pointer;
		vertical-align: middle;

		&.accept
		{
			background-color: $success;

			.reject
			{
				display: none;
			}
		}
		&.reject
		{
			background-color: $danger;

			.accept
			{
				display: none;
			}
		}
	}

	.do_moderation
	{
		cursor: pointer;
	}

	td.image
	{
		position: relative;
	}

	td.info
	{
		ul
		{
			list-style-type: none;
		}
	}
}
