/**
	@brief		Fix the scoring inputs so that they only display what they need to.
	@since		2018-11-25 17:35:30
**/
form#score_editor
{
	.single.score, .input_total
	{
		&:focus
		{
			background-color: lighten( $primary, 60% );
		}

		text-align: center;
	}

	.inner_10
	{
		background-color: --theme_color_primary;
		color: $white;
	}
}

.scores
{
	.score
	{
		.sum
		{
			font-weight: bold;
		}
	}

	.summary
	{
		.average
		{
			font-weight: bold;
		}
	}
}
