.statistics
{
	.year_selector
	{
		ul
		{
			display: inline-block;
			list-style-type: none;
		}

		li
		{
			display: inline-block;
			margin-left: 1em;
			margin-right: 1em;

			&.current
			{
				font-weight: bold;
			}
		}
	}

	table
	{
		th, td
		{
			text-align: center;
		}
	}
}
