#user_dashboard
{
	ul.unmoderated.entries
	{
		list-style-type: none;
	}

	h2
	{
		border-color: lighten( $secondary, 20% );
		border-style: solid;
		border-width: 0 0 thin 0;
		margin-bottom: 1em;
	}
}
