.statistics_container
{
	h1
	{
		font-size: 1.75em;
		text-align: center;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
	}

	table
	{
		border: solid black 1px;
		page-break-inside: avoid;
	}

	.year_selector
	{
		display: none;
	}

	h3.related_items
	{
		page-break-before: always;
	}
}
