.action_icons
{
	.col
	{
		svg
		{
			display: block;
			margin: 0 auto;
		}

		.subtitle
		{
			font-size: 80%;
		}

		text-align: center;
	}
}

.table_row_icons
{
	th.actions
	{
		text-align: center;
	}

	td.actions
	{
		.col
		{
			padding: 0;
			padding-left: 0.25em;
			padding-right: 0.25em;
		}

		svg
		{
			display: block;
			margin: 0 auto;
		}
	}
}
