@import "settings";

//@import "./bootstrap/scss/bootstrap";
@import "./bootstrap/scss/functions";

@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";
@import "./bootstrap/scss/root";
@import "./bootstrap/scss/reboot";
@import "./bootstrap/scss/type";
@import "./bootstrap/scss/images";
@import "./bootstrap/scss/code";
@import "./bootstrap/scss/grid";
@import "./bootstrap/scss/tables";

@import "app/tables";

table
{
	width: 100%;
	page-break-after: always;
}

caption
{
	caption-side: top;
	color: $body-color;
	text-align: center;
}
